

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body{
	background: #F2F4F5;
}

a{
	cursor: pointer;
}
input {outline:none;}
button::-moz-focus-inner{}

.wrapper{
	width: 100%;
	padding: 0;
	margin: 86px 0 0 0;
}
.container{
	width: 90%;
	margin: auto;

}

.header-component{
	display: -webkit-box;
}

.header-component.header-block header{
	position: inherit;
	width: 100%;

	box-shadow: inherit;
    border-bottom: 1px solid #dcddde;
}

.no-margin-wrapper{
	margin: 0;
}

.mobile{
	display: none;
}

@media screen and (max-width: 768px){
	.mobile{
		display: inherit;
	}
}