@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat.ttf);
}
a {}
button::-moz-focus-inner{}

body{
    background: #ccc;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 300px;
    min-height: 46px;
    padding: 23px 0 17px 0;
    background: #F2F4F5;
    box-shadow: 0px 4px 10px rgba(35, 47, 52, 0.05);
}

header .header_container{
    display: flex;
    width: 80%;
    margin: auto;
}

header .header_container .header_logo_container,
header .header_container .header_categories_btn_countainer,
header .header_container .header_user_info{
    flex: 1;
}

header .header_container .header_order_info{
    flex: 2;
    display: -webkit-box;
}

header .header_logo_container{
    padding-top: 7px;
    height: 21px;
}

header .header_logo_container img{
    height: 100%;
}



header .header_user_info_btn_sign_in{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;

    color: #1E282C;
}

header .header_user_info{
    display: flex;
}

header .header_user_info .header_user_info_sign_in_block{
    width: calc(100% - 30px);
    text-align: right;
    margin-top: 7px;
    text-decoration: none;
    padding-right: 40px;
}

header .header_user_info .header_user_info_sign_in_block a{
    text-decoration: none;
}

header .header_user_info .header_user_info_sign_in_block a:hover{
    text-decoration: underline;
}

header .header_user_info .header_user_info_user_basket{
    width: 22px;
    height: 26px;
    padding: 4px 4px 0px 4px; 
}

header .user_basket{
    width: 22px;
    height: 26px;
    display: -webkit-inline-box;
    float: right;
    background: url(../images/user_clean_basket.svg) no-repeat;
}

header .header_categories_btn_countainer{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 14px;

    color: #1E282C;
    margin-top: 7px;
    cursor: pointer;
    display: flex;
}

header .header_categories_btn_countainer:before{
    content: url('../images/catgories.svg');
    width: 28px;
    height: 28px;
    margin: -5px 9px 0 0;

}

header .header_order_info .header_order_info_time,
header .header_order_info .header_order_info_location{
    margin: 0px 8px;
    cursor: pointer;
    line-height: 16px;
    line-height: 1.4;

}

header .header_order_info div{
    padding: 8px 16px 7px 15px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    box-sizing: border-box;
    border-radius: 2px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    text-align: center;

    color: #1E282C;
}

header .header_order_info .header_order_info_time{
    width: 90px;
}


header .header_order_info .header_order_info_location:before{
    content: url('../images/geo.svg');
    width: 11px;
    height: 14px;
    margin: 0 14px 0 1px;
}

header .header_container .mobile_open_menu_block{
    display: none;
}


.mobile_bar_menu_block{
    display: none;
}

@media only screen and (max-width: 1200px) {
    header .header_container .header_order_info .header_order_info_time {
        display: none;
    }
}

@media only screen and (max-width: 1100px) {
    header .header_container .header_categories_btn_countainer{
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    header .header_container .header_user_info_user_basket{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    header .header_container .header_order_info,
    header .header_container .header_user_info_sign_in_block{
        display: none;
    }

    header .header_container .mobile_open_menu_block{
        width: 30px;
        height: 23px;
        margin-top: 9px;
        display: inherit;
        background: url('../images/menu_btn.svg');
    }
    .mobile_bar_menu_block{
        display: inherit;
    }

}



.mobile_bar_menu_background{
    background: #000;
    opacity: .45;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9998;
    display: none;
}
.show.mobile_bar_menu_background{
    display: block;
}

.mobile_bar_menu.hidden{
    animation: none;
}
.mobile_bar_menu{
    z-index: 9999;
    top: 0;
    right: -231px;
    bottom: 0;
    left: 100%;
    height: calc(100vh - 32px);
    background: #F2F4F5;
    width: 199px;
    padding: 16px;
    display: inline-block;
    position: fixed;
    animation: move_mobile_bar_menu_close 0.5s infinite;
    animation-iteration-count: 1;
}

.show.mobile_bar_menu{
    animation: move_mobile_bar_menu_open 0.5s infinite;
    animation-iteration-count: 1;
    display: inline-block;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: calc(100% - 231px);
}

.mobile_bar_menu_wrapper{
    position: relative;
}


.mobile_bar_menu .mobile_navigation_links{
    display: grid;
    /*overflow: auto;*/
    margin: auto;
    position: fixed;
    bottom:0;
    width: 100%;
    bottom: 12px;
}

.mobile_bar_menu .mobile_navigation_links a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 10px;
    text-decoration-line: underline;

    color: #808080;
    margin: 4.5px 0;
}
.mobile_bar_menu .mobile_navigation_links a:first-child{
    margin-top:0;
}

.mobile_bar_menu .mobile_navigation_links a:last-child{
    margin-bottom:0;
}

.mobile_bar_menu .mobile_bar_menu_close_btn{
    
    width: 23px;
    height: 23px;
    margin: 0 0 0 auto;
    /*position: absolute;*/
    top: 34px;
    right: 16px;

    background: url('../images/close_btn.svg');
}

.mobile_bar_menu  .mobile_header_logo_container{
    margin: 10vh auto;
    width: 103px;
}
.mobile_bar_menu  .mobile_header_logo_container img{
    width: 100%;
}
.mobile_bar_menu .mobile_main_links{
    /*overflow: auto;*/
    margin: auto;
    /*position: absolute;*/
    top: 314px;
    right: 0;
    left: 0;
    display: grid;
    margin-bottom: 40px;
    clear: both;

}

.mobile_bar_menu .mobile_main_links a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    margin: calc(51px / 2) 0 calc(51px / 2) 16px;
    font-size: 18px;
    display: flex;

    color: #1E282C;
}

.mobile_bar_menu .mobile_main_links a:before{
    width: 34px;
    content: "";
    height: 34px;
    margin-right: 28px;
}

.mobile_bar_menu .mobile_main_links a.sign_in:before{
    content: url(../images/sign_in.svg);
}

.mobile_bar_menu .mobile_main_links a.restaurants:before{
    content: url(../images/restaurants.svg);
}

.mobile_bar_menu .mobile_main_links a.reach:before{
    content: url(../images/reach.svg);
}

@keyframes move_mobile_bar_menu_open {
  from {
    top: 0;
    right: -231px;
    bottom: 0;
    left: 100%;
  }
  to { 
    top: 0;
    right: 0;
    bottom: 0;
    left: calc(100% - 231px);
  }  
}

@keyframes move_mobile_bar_menu_close {

  from { 
    top: 0;
    right: 0;
    bottom: 0;
    left: calc(100% - 231px);
  }  
  to {
    top: 0;
    right: -231px;
    bottom: 0;
    left: 100%;
    display: none;
  }
}

@media only screen and (max-height: 520px) {
    .mobile_bar_menu .mobile_navigation_links{
        position: inherit;
    }
}

