@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat.ttf);
}

body {
    background-color: #F2F4F5;
    min-height: 100vh;
    font-family: Montserrat;
    font-style: normal;
    line-height: normal;
    color: #1E282C;
    margin: 0px;
}

.header {
    height: 88px;
    width: 100%;
}

.main-wrapper {
    background-image: url(../images/main-wrapper.jpg);
    background-blend-mode: multiply;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    /*height: calc( 100vh - 86px);*/
    width: calc(100% - 2*20px);
    background-position: center;
    background-size: cover;
    padding: 20px;
}

.main-wrapper .main-wrapper-container {
    width: calc(100% - 2*10%);
    max-width: 1300px;
    margin: auto;
    padding: calc(20vh - 86px / 2) 10%;
}

.main-wrapper h2 {
    font-size: 64px;
    width: 60vw;
    margin: 0 0 38px 0;
    color: #F2F4F5;
}

.cookie {
    height: 88px;
    width: 100%;
    bottom: 0px;
    position: fixed;
    background: #F2F4F5;
}

.cookie .usage {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    left: 50px;
    font-size: 14px;
    font-weight: 900;
}

.cookie .description {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 12px;
}

.cookie button {
    position: absolute;
    min-width: 200px;
    top: 50%;
    right: 20px;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    background-color: #FC6621;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 2px;
    color: #fff;
    height: 52px;
    font-size: 18px;
    margin: 0px auto;
}

.main-wrapper input[placeholder] {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-left: 50px;
    padding-right: 50px;
}

.main-wrapper input::-moz-placeholder {
    text-overflow: ellipsis;
    padding-left: 50px;
    padding-right: 50px;
}

.main-wrapper input:-moz-placeholder {
    text-overflow: ellipsis;
    padding-left: 50px;
    padding-right: 50px;
}

.main-wrapper input:-ms-input-placeholder {
    text-overflow: ellipsis;
    padding-left: 50px;
    padding-right: 50px;
}

.main-wrapper form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-wrapper form button#mobile {
    display: none;
}

.main-wrapper form button,
form input[type=submit] {
    background-color: #FC6621;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 0px 2px 2px 0;
    color: #fff;
    width: 240px;
    height: 52px;
    font-size: 18px;
    margin: 10px 0;
}

.main-wrapper form input[type=text],
form input[type=password],
form input[type=email] {
    color: #626262;
    min-width: 260px;
    height: 48px;
    font-size: 18px;
    background-color: #F2F4F5;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 2px 0 0 2px;
    margin: 10px 0px;
    width: 40vw;
}

@media only screen and (max-width: 690px) {
    .cookie {
        height: unset;
        width: 100%;
        bottom: 0px;
        position: fixed;
        background: #F2F4F5;
    }

    .cookie .usage {
        position: relative;
        font-size: 14px;
        font-weight: 900;
        top: unset;
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
        left: 0px;
        margin: 10px;
    }

    .cookie .description {
        position: relative;
        font-size: 12px;
        top: unset;
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
        left: 0px;
        margin: 10px;
    }

    .cookie button {
        position: relative;
        font-size: 18px;
        background-color: #FC6621;
        border: 1px solid rgba(128, 128, 128, 0.2);
        border-radius: 2px;
        color: #fff;
        width: 100%;
        height: 47px;
        top: unset;
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
        right: 0px;
    }
    .main-wrapper .main-wrapper-container {
        padding: calc(35vh - 86px / 2) 0;
    }

    .main-wrapper h2 {
        font-size: 28px;
        width: calc(100% - 0px);
        text-align: center;
        top: 35%;
        left: 20px;
        color: #F2F4F5;
    }

    .main-wrapper form {
        left: 0px;
        width: 100%;
    }

    .main-wrapper form input[type=text] {
        display: none;
    }

    .main-wrapper form input[type=submit] {
        display: none;
    }

    .main-wrapper form button#mobile {
        background-color: #FC6621;
        border: 1px solid rgba(128, 128, 128, 0.2);
        border-radius: 2px;
        color: #fff;
        width: 60%;
        height: 52px;
        font-size: 18px;
        margin: 10px auto;
        display: block;

        background-repeat: no-repeat;
        background-position: 20px 15px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
    }

    .main-wrapper form button#mobile:before {
        fill: #fff;
        content: url(../images/geo.svg);
        width: 13px;
        height: 16px;
        color: #fff;

    }
}

@media only screen and (min-width: 690px) and (max-width: 900px) {
    .main-wrapper h2 {
        font-size: 36px;
        width: calc(100% - 40px);
        top: 30%;
        left: 50px;
    }
    .cookie .usage {
        left: 10px;
    }

    .cookie .description {
        width: 40%
    }

    .cookie button {
        right: 10px;
    }

}

@media only screen and (min-width: 900px) and (max-width: 1140px) {
    .main-wrapper h2 {
        font-size: 46px;
        width: calc(80% - 40px);
        top: 30%;
        left: 50px;
    }
    .cookie .usage {
        left: 20px;
    }

    .cookie .description {
        width: 50%
    }

    .cookie button {
        right: 20px;
    }
}

@media only screen and (min-width: 1400px) {
    .main-wrapper .main-wrapper-container {
        width: calc(100% - 2*10%);
        max-width: 1300px;
        margin: auto;
        padding: calc(20vh - 86px / 2) 0%;
    }
}
