.restaurants_page{

}
.restaurants_page .common_information{
    padding: 20px 0 0 0;
}
.restaurants_page .restaurants_search{
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 2px;
    display: flex;
}

.restaurants_page .restaurants_search:before{
    content: "";
    display: block;
    margin: 5px 14px 5px 2px;
    height: 18px;
    width: 19px;
    background-size: 100% 100%;
    float: left;
    background-image: url("../images/lupa.svg");
    background-repeat: no-repeat;
}

.restaurants_page .restaurants_search input{
    background: unset;
    padding: 5px 0;
    border: none;

    margin-bottom: 2px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 16px;
    color: #000;
    width: 100%;
}

.restaurants_page .restaurants_search input::placeholder{
    color: #808080;
}


.restaurants_page .common_information h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 24px;
    padding: 0 ;

    color: #1E282C;
}



.restaurants_page .restaurants_wrapper a{
    text-decoration: none;
}

.restaurants_page .restaurants_wrapper a{
    padding: 30px 15px 14px;
}

.restaurants_page .restaurants_wrapper .restaurant .restaurant_preview_image{
    width: 100%;
    height: 242px;
    overflow:hidden;
}
.restaurants_page .restaurants_wrapper .restaurant .restaurant_preview_image .restaurant_preview_image_image{
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 2px;
    background-position: center;
    transition: all .5s;

}

.restaurants_page .restaurants_wrapper .restaurant .restaurant_preview_image:hover .restaurant_preview_image_image,
.restaurants_page .restaurants_wrapper .restaurant .restaurant_preview_image:focus .restaurant_preview_image_image{
    background-position: center;
    transform: scale(1.2);
}
.restaurants_page .restaurants_wrapper .restaurant .restaurant_preview_image .delivery_time{
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 14px;
    color: #1E282C;
    padding: 6px 13px 6px 6px;
    background: #F2F4F5;
    border-radius: 0 2px 0 0;
    margin: -29px 0 0 -1px;
}

.restaurants_page .restaurants_wrapper .restaurant h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 24px;
    margin: 3px 0;

    color: #1E282C;
}
.restaurants_page .restaurants_wrapper .restaurant .restaurant_full_info{
    margin: 3px 0 0 0;
}
.restaurants_page .restaurants_wrapper .restaurant .restaurant_full_info .rating_stars{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 12px;

    color: #1E282C;
}
.restaurants_page .restaurants_wrapper .restaurant .restaurant_full_info .rating_stars:before{
    content: "";
    display: block;
    height: 18px;
    width: 19px;
    background-size: 100%;
    float: left;
    background-image: url("../images/star.svg");
    background-repeat: no-repeat;
    margin-right: 2px;
}
.restaurants_page .restaurants_wrapper .restaurant .restaurant_full_info .rating_stars.top:before{
    background-image: url("../images/star-top.svg");

}
.restaurants_page .restaurants_wrapper .restaurant .restaurant_full_info .rating_stars.new{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 12px;

    color: #FC6621;
    text-transform: capitalize;
}
.restaurants_page .restaurants_wrapper .restaurant .restaurant_full_info .rating_stars.new:before{
    display: none;
}

.restaurants_page .restaurants_wrapper .restaurant .restaurant_full_info .delivery_fee_info{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 12px;

    color: #1E282C;
}
.restaurants_page .restaurants_wrapper .restaurant .restaurant_full_info .restaurants_tag_groups{
    margin-top: 5px;
}
.restaurants_page .restaurants_wrapper .restaurant .restaurant_full_info .restaurants_tag_groups span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;

    color: #808080;
}
.restaurants_page .restaurants_wrapper .restaurant .restaurant_full_info .restaurants_tag_groups span:nth-child(n+2):before{
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px 0 2px;
    background: #C4C4C4;
}

@media screen and (min-width: 1200px){
    .restaurants_page .restaurants_wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px){
    .restaurants_page .restaurants_wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 768px){
    .restaurants_page .restaurants_wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
}